@import url('https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css');




body{
  font-family: 'NanumSquare';
}


*{margin: 0;padding: 0;box-sizing: border-box;}
ul,li{list-style: none;}
a:link,a:visited{
    text-decoration: none;
}

.row {
  --bs-gutter-x: 0 !important;
}
.container{
  --bs-gutter-x: 0 !important;
}
@media (max-width: 768px){
  .navbar{
    display: none !important;
  }

}
